/* .client-arrows .slick-prev:before {
  color: #FFFFFF;
}
.client-arrows .slick-next:before {
  color: #FFFFFF;
} */

.slick-next::before, .slick-prev::before {
  content: none;
}


.col-6.company-say.d-flex.flex-column {
  border-radius: 5%;
  height: 356px;
}

.description-blog-hide {
display: none;
}

.description-blog-show {
  display: block;
}

.me-3 {
  height: 96px;
  width: 96px;
  border-radius: 112.5px;
}

.relative_microscope {
  position: relative;
}
.relative_microscope .microscope_text{
  position: absolute;
  background-color: #ffffff;
  height: 91px;
  width: 139px;
  top: 130px;
  right: 268px;
  padding: 30px;
}
.client_sections {
  height: 363px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}
.clients_text_sections{
  padding: 10px;
  font-size: 16px;
  text-align: justify;
  margin-right: 70px;
}
.clients_user_sections{
  padding-left: 15px;
}
.sticky_header{
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
}
.check_product{
  position: absolute;
  top:650px;
  left:750px;
  white-space: nowrap;
}
.position_relative_row{
  position: relative;
}
.absolute_shonit{
  position: absolute;
  top: 190px;
}
.absolute_shrava{
  position: absolute;
  top: 190px;
  left:1100px;
}

.shonit-hover-block{
  position: absolute;
  width: 150px;
  height: 150px;
  display: flex;
}

.shrava-hover-block{
  width: 150px;
  height: 150px;
  display: flex;
}
